amqp==2.2.1
anyjson==0.3.3
billiard==3.5.0.3
celery==4.1.0
click==6.7
cycler==0.10.0
decorator==4.0.11
Django==1.10.7
django-bootstrap3==9.0.0
django-registration==2.2
h5py==2.7.0
kombu==4.1.0
llvmlite==0.19.0
matplotlib==2.0.2
mrcfile==1.0.0
networkx==1.11
numba==0.35.0
numpy==1.13.1
olefile==0.44
Pillow==4.2.1
pyflakes==1.6.0
pyminizip==0.2.1
pyparsing==2.1.4
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==0.5.2
redis==2.10.5
scikit-image==0.13.0
scipy==0.19.1
selenium==3.4.3
six==1.10.0
uWSGI==2.0.15
vine==1.1.4
gunicorn==19.7
django-fileprovider==0.1.4
psycopg2-binary==2.7.4
django-celery-results==1.0.1
django-extensions==2.0.0

