{% extends 'fscupload/base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-6">

<div class="panel panel-default">
<div class="panel-heading">Active and completed jobs</div><!--panel-title-->
<div class="panel-body">
{% if fscjobs %}

<table>
<thead>
<tr>
<th>Job Name</th>
<th>Time Completed</th>
<th>Results</th>
</tr>
</thead>

<br>
<tbody>
{% for job in fscjobs %}
{% if job.completefile %}

<tr><td>{{job.jobname}}</td><td>{{job.modified_date|date:"m/d/Y H:m:s"}}</td><td> <a href="{% url 'upload:results' pk=job.pk %}">Link</a></td></tr>
{% else %}

<tr><td>{{job.jobname}}</td><td>{{job.modified_date|date:"m/d/Y H:m:s"}}</td><td>Job still being processed.</td></tr>
{% endif %}	
{% endfor %}
</tbody>
</table>
{% else %}
<p> You have not processed any jobs. Click <a href="{% url 'upload:submit' %}">here</a> to submit a 3DFSC job.</p>
{% endif %}

</div><!--panel-body-->
</div><!--panel panel-default-->
</div><!--col-md-6-->
<div class="col-md-6"></div><!--col-md-6-->
</div><!--row-->
</div><!--container-fluid-->
{% endblock %}

{% block style %}
{{block.super}}
{% endblock %}

