{% extends 'fscupload/base.html' %}

{% load bootstrap3 %}

{% block content %}

{% if fscjobs %}
{% for job in fscjobs %}
	{% if job.completefile %}
	<p>{{job.jobname}} -- {{job.emailaddress}} -- 
	<a href="{{ SITE_URL }}{{job.completefile.url}}">{{job.jobname}}.zip</a> -- 
	<a href="{% url 'upload:results' pk=job.pk %}">results page</a></p>
	{% else %}
	<p>{{job.jobname}} -- {{job.emailaddress}} -- Job still being processed.</p>
	{% endif %}	
{% endfor %}
{% else %}
<p> You have not processed any jobs. Click <a href="{% url 'upload:submit' %}">here</a> to submit a 3DFSC job.</p>
{% endif %}
{% endblock %}

