{% extends 'fscupload/base.html' %}

{% load bootstrap3 %}

{% block content %}

        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">

<div class="panel panel-default">
 <div class="panel-body">

<h4>This is an application for remotely processing the 3D Fourier shell correlation of cryoEM maps.</h4>
<h4>Instructions:</h4>

<p>1) Click "Register" on the navigation bar and follow the instructions to create an account.</p>
<p>2) Navigate to the processing form via the "Submit job" link.</p>

<p>3) Enter your email address and other required parameters in the form.</p>
</p>You must upload a job name, two half maps (.mrc format), a full map (also .mrc format), and an appropriate pixel size. Click "Submit job".</p>

<p>4) You should receive an email to confirm your processing job. If you do not receive an email, please check your spam folders.</p>
<p>5) When your job is complete, you will receive another email with a link to view the results.</p>


 </div !--panel-body-->
</div !--panel-default-->

        </div !--col-lg-4-->
        </div !--row-->

{% endblock %}
