{% extends 'fscupload/base.html' %}

{% load bootstrap3 %}

{% block content %}

        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">

<div class="panel panel-default">
 <div class="panel-body">

<h4>Acknowledgements</h4>

<p>The 3DFSC program was coded by Philip R. Baldwin, with the help from Yong Zi Tan and Dmitry Lyumkis.</p>
<p>The web server and GPU implementation was coded by Carl Negro.</p>
<p>All code are available through Github: <a href="https://github.com/nysbc/Anisotropy" target="_blank">https://github.com/nysbc/Anisotropy</a></p>
<p>Suggestions and comments are welcome and should be sent to Philip R. Baldwin (pbaldwin (at) salk.edu), Dmitry Lyumkis (dlyumkis (at) salk.edu) or Yong Zi Tan (ytan (at) nysbc.org).</p>
<p><br></p>

<h4>Citations</h4>
<p>Please cite the following paper if you find this software useful:</p>
<p><a href="http://dx.doi.org/10.1038/nmeth.4347" target="_blank">Tan, Y.Z., Baldwin, P.R., Davis, J.H., Williamson, J.R., Potter, C.S., Carragher, B. and Lyumkis, D., 2017. Addressing preferred specimen orientation in single-particle cryo-EM through tilting. <i>Nature methods, 14</i>(8), p.793.</a></p>
<p><br></p>
 
<h4>Licensing: MIT License</h4>
<p>Copyright &copy; 2017 New York Structural Biology Center, Salk Institute for Biological Studies </p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: </p>
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. </p>
<p> THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. </p>

 </div !--panel-body-->
</div !--panel-default-->

        </div !--col-lg-4-->
        </div !--row-->

{% endblock %}
