{% extends 'upload/base.html' %}

{% load bootstrap3 %}

{% block content %}

                <p>Your data for 3DFSC processing was uploaded and submitted succesfully.</p>
                <p>When your job is finished, you will receive an email with instructions on how to retrieve your data.</p>
                <p>Please make sure your spam filters allow messages from remote.3dfsc@gmail.com.</p>
                <p>For addition assistance please contact remote.3dfsc@gmail.com</p>

{% endblock %}



