{% extends 'fscupload/base.html' %}

{% load bootstrap3 %}
{% block title %}Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" 
                  action="{% url 'login' %}">
                {% csrf_token %}
                {{form.as_p}}
                {% buttons submit="Login" reset="Reset Form" %}{% endbuttons %}
            </form>
        </div>
    </div>
{% endblock content %}
