{% extends 'fscupload/base.html' %}

{% load bootstrap3 %}
{% block title %}Reset Password Confirm{% endblock %}

{% block content %}

Enter new password

Please enter your new password twice so we can verify you typed it in correctly.

        <!-- Reset password form. -->
        <form action="{% url "password_reset_complete" %}" method="post">
                {% csrf_token %}

        <p>{{ form.non_field_errors }}</p>
           {{ form.as_p }}    
        {% buttons submit="Submit New Password" %}{% endbuttons %}

{% endblock %}
